.videoCard{
    width:300px;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
}

.videoCard_thumbnail{
    height: 140px;
    width: 280px;
}

.avatar_icon{
    margin-right: 10px;
}

.video_info{
    display: flex;
    margin: 10px 0px;
}

.videoCard_text p{
    color:gray;
   
    font-size: 12px;
}
.videoCard_text h4{
    margin-bottom: 5px;
}